/* ====================== GLOBAL SET UP ============================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #fff;
    --font-family:poppins , 'Sans-serif';
    --nav-background: #220901;
    --color-isabeline:#383D3B;
    --color-light: rgba(120, 120, 20, 0.18);
    --box-shadow: 0 2rem 3rem var(--color-light);
    --boxes-background:darkgoldenrod;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body{
    background-color: #001011;
    color: #fff;
}
.container{
    display: grid;
    margin: 0 auto;
    width: 80%;
    gap: 3rem;
    grid-template-columns: 1fr 3fr;
}



/* ====================== NAVIGATION SECTION ============================== */
    /* margin: top, right , bottom , left */
nav{
    background:var(--nav-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    font-size: 2rem;
}
nav div button{
    outline: none;
    border: none;
    background: transparent;
    font-size: 1.3rem;
    color: var(--color-primary);
}

nav div span{
    margin-left: 3rem;
    color: var(--color-primary);
    cursor: pointer;
}
nav div span::before{
    content: '';
    width: 10%;
    border: 2px solid var(--boxes-background);
}
nav div span:hover::before{ 
    position: relative;
    animation-name: changeWord;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@keyframes changeWord {
    from{left: 0;}
    to{left: 80%;}
}

nav div span i{
    position: absolute;
    left: 28%;
}

nav div button:nth-child(2){
    border: 2px solid var(--color-primary);
    padding: 7px 10px;
    margin: 0 5rem 0 2rem;
    background-color: var(--boxes-background);
}

/* ====================== HEADING SECTION ============================== */
.mainHeading h1{
    margin: 0 auto;
    width: 80%;
    font-size: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* ====================== COLLAPSIBLE BUTTON ============================== */
.container .nav-toggle{
    font-size: 1.4rem;
    width: 100%;
    background: var(--color-primary);
    display: none;
    border: none;
    box-shadow: 2px 2px 2px #383D3B;
}

/* ====================== ASIDE SECTION ============================== */
.container aside .right{
    background: var(--color-isabeline); 
    text-align: left;
    box-shadow: var(--box-shadow);
    transition: all 0.4s linear;
}

aside .right h2{
    padding: 1rem 0 0 2rem;
}
aside .right h3{
    padding: 1rem 0 .5rem 2rem;
    font-size: 1.1rem;  
}
aside .right div #restaurantOptions{
    margin-left: 2rem;
    height: 2rem;
    width: 70%;
}
aside .right .cuisine label{
    display: block;
    padding-bottom: .4rem;
    padding-left: 2rem  ;
}
aside .right .cuisine input[type='checkbox']{
    margin-right: 1rem;
}

aside .right .pricesList label{
    display: block;
    padding-bottom: .4rem;
    padding-left: 2rem;
}
aside .right .pricesList input[type='radio']{
    margin-right: 1rem;
}
aside .right .pricesSorting label{
    display: block;
    padding-left: 2rem;
}



/* ====================== MAIN SECTION ============================== */

/* Photos */
.photo{
    width: 60%;
    height: 80%;
    position: relative;
    top: 10%;
    left: 15%;
}
.menu-display .cards{
    text-transform: capitalize;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1rem;
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: #383D3B;
    height: 30vh;
}
.menu-display div hr{
    margin: 1rem 0;
    border: 1.2px dotted gold;
}


