/* ====================== GLOBAL SET UP ============================== */
:root{
    --color-primary: #fff;
    --font-family:poppins , 'Sans-serif';
    --nav-background: #B3001B;
    --color-isabeline:#E8F1F2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

.container{
    display: grid;
    margin: 0 auto;
    width: 80%;
    gap: 3rem;
    grid-template-columns: 1fr 3fr;
}



/* ====================== NAVIGATION SECTION ============================== */
    /* margin: top, right , bottom , left */
nav{
    background:var(--nav-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    font-size: 2rem;
}
nav div button{
    outline: none;
    border: none;
    background: transparent;
    font-size: 1.3rem;
    color: var(--color-primary);
}

nav div span{
    margin-left: 3rem;
    color: var(--color-primary);
    background: blue;
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    border-radius: 50%;
    position: relative;
}

nav div span i{
    position: absolute;
    left: 28%;
}

nav div button:nth-child(2){
    border: 2px solid var(--color-primary);
    padding: 7px 10px;
    margin: 0 5rem 0 2rem;
}

/* ====================== ASIDE SECTION ============================== */
aside .right{
    background: var(--color-isabeline);
    text-align: left;
}
aside .right h2{
    padding: 1rem 0 .5rem 2rem;
}
aside .right h3{
    padding: 2rem 0 .5rem 2rem;
    font-size: 1.1rem;  
}
aside .right div #restaurantOptions{
    margin-left: 2rem;
    height: 2rem;
    width: 70%;
}
aside .right .cuisine label{
    display: block;
    padding-bottom: .4rem;
    padding-left: 2rem  ;
}
aside .right .cuisine input[type='checkbox']{
    margin-right: 1rem;
}


/* ====================== MAIN SECTION ============================== */



