@media screen and (max-width:1500px){
    .container{
        grid-template-columns: 1fr;
    }
    .mainHeading h1{
        font-size: 1.3rem;
    }
    .container .openButton button{
        display: inline;
        margin-bottom: 1rem;
    }
    .right{
        display: none;
    }
}

/* @media screen and (max-width:1000px){
    .container{
        grid-template-columns: 1fr;
    }
    .mainHeading h1{
        font-size: 1.3rem;
    }
} */