@media screen and (max-width:1500px){
    .container{
        grid-template-columns: 1fr;
    }
    .mainHeading h1{
        font-size: 1.3rem;
    }
    .right{
        height: 0;
        overflow: hidden;
        transition: opacity 1000ms linear;
    }
    .show-menu{
        height: 80vh;
    }
    .container .nav-toggle{
        cursor: pointer;
        display: block;
        outline: none;
        transition: all 0.3s linear;
    }
    .container .arrowMoving:hover{
        transform: rotate(90deg);
    }
}

/* @media screen and (max-width:1000px){
    .container{
        grid-template-columns: 1fr;
    }
    .mainHeading h1{
        font-size: 1.3rem;
    }
} */